main {
  margin: 30px 20px;
  padding: 15px;
  box-sizing: border-box;
  width: 320px;
  height: 360px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main > h1,
main > p {
  margin: 0;
}

main > h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2b283a;
}

main > p {
  margin: 0 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: #4a4e74;
  text-align: center;
}

.die--container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

.die--box {
  width: 32px;
  height: 32px;
  padding: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  cursor: pointer;
}

.roll--btn {
  margin: 10px;
  width: 123px;
  height: 36px;
  background: #5035ff;
  cursor: pointer;
  border-radius: 3.81277px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.roll--btn:focus {
  outline: none;
}

.roll--btn:active {
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

.dot--box {
  width: 100%;
  height: 100%;
  display: flex;
}

.one--dot {
  align-items: center;
  justify-content: center;
}

.two--dots {
  justify-content: space-between;
}

.two--dots .dot:nth-of-type(2) {
  align-self: flex-end;
}

.three--dots {
  justify-content: space-between;
}

.three--dots .dot:nth-of-type(2) {
  align-self: center;
}

.three--dots .dot:nth-of-type(3) {
  align-self: flex-end;
}

.four--dots {
  justify-content: space-between;
}

.four--dots .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five--dots {
  justify-content: space-between;
}

.five--dots .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.five--dots .column:nth-of-type(2) {
  justify-content: center;
}

.six--dots {
  justify-content: space-between;
}

.six--dots .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats--container,
.time--container {
  display: flex;
}

.stats--container p,
.time--container p {
  margin: 0px;
}

.stats--container p:nth-child(1),
.time--container p:nth-child(1) {
  margin-left: 10px;
}

.rolls--qty {
  width: 25px;
  padding-left: 5px;
  font-weight: 700;
}

.time {
  padding-left: 5px;
  font-weight: 700;
  display: flex;
}

.time > span {
  display: inline-block;
  width: 26px;
}